@charset "UTF-8";

/* Generics: elements*/
html {
  font-family: 'helvetica neue',
  helvetica,
  sans-serif;
  color: #F8F8F2;
  border-color: #F8F8F2;
  background-color: #272822;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}
#container {
  position: relative;
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  padding: 10px 20px;
  background-color: #1f1f1c;
  border-bottom: 1px solid #181815;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
section {
  padding-bottom: 80px;
}
hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 75%;
  padding: 20px;
  clear: both;
  background-color: #171714;
  border-top: 2px solid #10100D;
}

/* Nav */
nav {
  background-color: #171714;
  line-height: 100%;
  border-bottom: 3px solid #10100D;
}
nav a {
  margin: 0;
  padding: 15px;
  display: none;
  float: right;
}
#dropdown-button {
  float: right;
  padding: 15px;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}
#dropdown-list {
  height: 0px;
  overflow: hidden;
}
@media (min-width: 440px) {
  nav a {
    display: inline;
  }
  #dropdown-button, #dropdown-list {
    display: none;
  }
}
nav .logo {
  padding: 15px 10px;
  font-size: 120%;
  color: white;
}
nav .active {
  color: #AE81FF;
}

/* Main section */
.main {
  margin: 0;
}
.main .welcome {
  margin-top: 40px;
  font-size: 160%;
}
.main .description {
  padding: 15px 35px 35px;
  
  margin: 10px auto;
}
.description + hr {
  margin-bottom: 50px;
}

@media (min-width: 550px) {
  .main .welcome {
    margin-top: 75px;
    font-size: 225%;
  }
}

/* Thirds */
.third .description {
  padding: 15px 20px 35px;
}

/* Generics: classes */
.center {
  text-align: center;
}
.description {
  font-size: 110%;
  padding: 15px 35px 35px;
}
.third {
  margin-bottom: 25px;
}
@media (min-width: 750px) {
  hr {
    margin: 10px 0;
  }
  .third {
    padding: 30px 0;
    width: 33.3333%;
    float: left;
    margin-bottom: 0;
  }
}

  /* Generics: color */
.element {
  color: #F92772;
}
.args {
  color: #FD9720;
}
.name {
  color: #A6E22D;
}
.value {
  color: #AE81FF;
}
.string {
  color: #E6DB74;
}
.function {
  color: #66D9EF;
}
.gray {
  color: #868686;
}