@charset "UTF-8";

/* Generics: elements*/
html {
  font-family: 'helvetica neue',
  helvetica,
  sans-serif;
  color: #F8F8F2;
  border-color: #F8F8F2;
  background-color: #272822;
  font-size: 16px;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  float: right;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 10px 0 50px;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Nav */
nav {
  background-color: #171714;
  line-height: 100%;
}
nav a {
  margin: 0;
  padding: 15px;
  display: none;
}
#dropdown {
  float: right;
  padding: 15px;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}
@media (min-width: 440px) {
  nav a {
    display: inline;
  }
  #dropdown {
    display: none;
  }
}
nav .logo {
  padding: 15px 10px;
  font-size: 120%;
  color: white;
}
nav .active {
  color: #AE81FF;
}

/* Main section */
.main {
  margin: 0;
  border-top: 3px solid #10100D;
}
.main .welcome {
  margin-top: 75px;
  font-size: 160%;
}
.main .description {
  padding: 15px 35px 35px;
  
  margin: 10px auto;
}

@media (min-width: 550px) {
  .main .welcome {
    font-size: 225%;
  }
}

/* Generics: classes */
.center {
  text-align: center;
}
.description {
  font-size: 110%;
  padding: 15px 35px 35px;
}
@media (min-width: 768px) {
  hr {
    margin: 10px 0;
  }
  .third {
    padding: 30px 0;
    width: 33.3333%;
    float: left;
  }
}

  /* Generics: color */
.element {
  color: #F92772;
}
.args {
  color: #FD9720;
}
.name {
  color: #A6E22D;
}
.value {
  color: #AE81FF;
}
.string {
  color: #E6DB74;
}

/* Thirds */