html {
  /**
   * Color is intentionally duplicated with the theme context. Global styles
   * don't work with SSR pages if you use the styled-components API, but CSS
   * imports offer a good fallback. Unless IE 11 can die, theme variables
   * aren't accessible inside CSS, forcing the duplication.
   */
  background-color: #1e1e1e;
}

body {
  margin: 0;
  font-family: 'Fira Code Variable', monospace;
}
